<!-- Header Section  -->
<header>
    <div class="header__container">
        <div class="header__row">
            <div class="header__toggle">
                <div class="header__toggle--wrap">
                    <img src="/assets/images/list.png" alt="Toggle">
                </div>      
            </div>
            <div class="header__logo">
                <a href="/"><div class="header__logo--wrap">
                    crios
                </div>
            <h6>free psd template</h6></a>
            </div>
            <div class="header__search">
                <div class="header__search--wrap">
                    <img src="/assets/images/search.png" alt="search">
                </div>
            </div>
        </div>
    </div>
</header>