<div class="modal__class" [ngStyle]="{'display':displayStyle}">
    <div class="blocker" (click)=" closePopup()" ></div>
    <div class="modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal__logo">
                    <div class="modal__logo--wrap">
                        <img src="/assets/images/logo.png" alt="Logo">
                    </div>
                   
                </div>
                <div class="modal__content__text">
                    <h2>Thanks for downloading our template!</h2>
                    <p>Hope that you enjoy it well! Check also our site</p>
                    <button class="btn btn-red" >www.symu.co</button>
                </div>
            </div>
        </div>
    </div>
</div>