<!-- Two column section  -->
<div class="two__column--container">
    <div class="two__column--row">
        <div class="two__col--image">
            <img src="assets/images/ic1.png" alt="banner image">
        </div>
        <div class="two__col--content">
            <h2 class="two__col--contentTitle">
                Lorem ipsum dolor
            </h2>
            <p class="two__col--contentText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </p>
        </div>
    </div>
    <div class="two__column--row column--reverse">
        <div class="two__col--image">
            <img src="assets/images/ic2.png" alt="banner image">
        </div>
        <div class="two__col--content">
            <h2 class="two__col--contentTitle">
                Lorem ipsum dolor
            </h2>
            <p class="two__col--contentText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </p>
        </div>
    </div>
</div>