<!-- tstimonial section  -->
<div class="testimonial__container">
    <div class="testimonial__row">
        <div class="testimonial__image">
            <img src="assets/images/user-photo.png" alt="User Photo">
        </div>
        <div class="testimonial__content">
            <h4 class="testimonial__title">Template is awesome</h4>
            <p class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
       <div class="testimonial__person">
        <h6>John Doe</h6>
        <p>CEO at Crios.com </p>
       </div>
        </div>
    </div>
</div>