<!-- offer section  -->
<div class="offer__container">
    <div class="offer__row">
        <div class="offer__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="offer__heading">
            Lorem ipsum dolor sit amet
        </div>
        <div class="offer__column--row">
            <div class="offer__column">
                <div class="offer__image">
                    <img src="/assets/images/c1.png" alt="offer-icon">
                </div>
                <div class="offer__title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="offer__content">
                    Suspendisse vel leo efficitur,
                    venenatis est ut, tincidunt nibh.
                </div>
            </div>
            <div class="offer__column">
                <div class="offer__image">
                    <img src="/assets/images/c2.png" alt="offer-icon">
                </div>
                <div class="offer__title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="offer__content">
                    Suspendisse vel leo efficitur,
                    venenatis est ut, tincidunt nibh.
                </div>
            </div>
            <div class="offer__column">
                <div class="offer__image">
                    <img src="/assets/images/c3.png" alt="offer-icon">
                </div>
                <div class="offer__title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="offer__content">
                    Suspendisse vel leo efficitur,
                    venenatis est ut, tincidunt nibh.
                </div>
            </div>
            <div class="offer__column">
                <div class="offer__image">
                    <img src="/assets/images/c4.png" alt="offer-icon">
                </div>
                <div class="offer__title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="offer__content">
                    Suspendisse vel leo efficitur,
                    venenatis est ut, tincidunt nibh.
                </div>
            </div>
        </div>
        <button class="btn">check our offer</button>
    </div>
</div>