<!-- Column layout section -->
<div class="column__layout--container">
    <div class="column__layout--row column__layout--rowLeft">
        <div class="column__layout--flex">
            <div class="column__layout--image">
                <img src="assets/images/app1.png" alt="image">
            </div>
            <div class="column__layout--content">
                <h5 class="column__layout--title">Lorem ipsum dolor</h5>
                <p class="column__layout--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="column__layout--row column__layout--rowRight">
        <div class="column__layout--flex column--reverse">
            <div class="column__layout--image">
                <img src="assets/images/app2.png" alt="image">
            </div>
            <div class="column__layout--content">
                <h5 class="column__layout--title">Lorem ipsum dolor</h5>
                <p class="column__layout--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
            </div>
        </div>
    </div>
</div>